<div fxLayout="column">
  <div
      fxLayoutAlign="center"
      fxLayout="row"
  >
    <!-- <form  [formGroup]="loginForm" (ngSubmit)="authenticate(loginForm.value)" > -->
    <mat-toolbar>
      <button
          mat-icon-button
          class
          aria-label
          [matMenuTriggerFor]="menu"
      >
        <mat-icon>menu</mat-icon>
      </button>
        <mat-menu #menu="matMenu">
        <button
            mat-menu-item
            routerLink="/empresa"
        >
          Início
        </button>
        <button mat-menu-item routerLink="/login">Logout</button>
      </mat-menu>
      <span></span>
      <span></span>
    </mat-toolbar>
    <mat-card
        class="admin-card mat-elevation-z3"
        align="start"
    >
      <ng-template [ngIf]="processo.key" [ngIfElse]="NewProcesso">
        <mat-card-title>Editar Processo</mat-card-title>
      </ng-template>
      <ng-template #NewProcesso>
        <mat-card-title>Novo Processo</mat-card-title>
      </ng-template>
    </mat-card>
    <br>
    <mat-card class="mat-elevation-z3">
      <!-- <form [formGroup]="formEditProcesso" (submit)="salvar()"> -->
        <div fxLayoutAlign="center center">
          <div fxLayout="row">
            <mat-form-field fxFlex="1 1 80%">
              <input matInput type="text" placeholder="Nome do Processo" [(ngModel)]="processo.nome_processo"/>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex="1 1 80%">
              <textarea matInput type="text"
                placeholder="Descrição do Processo"
                [(ngModel)]="processo.descricao_processo"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="8"
              >
              </textarea>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <button mat-raised-button color="primary" (click)="salvar()"><mat-icon>done</mat-icon>Salvar</button>
          <button mat-button color="warn" (click)="backURL()"><mat-icon>close</mat-icon>Cancelar</button>
        </div>
        <div fxLayoutAlign="space-between right">
          <a mat-raised-button color="warn" (click)="deleteProcesso()">
            <mat-icon>delete_outline</mat-icon>
            Excluir
          </a>
        </div>
      <!-- </form> -->
    </mat-card>
  </div>
</div>


