<div align="center" fxLayout="row" fxLayoutAlign="center center" class="register-form">
  <mat-card class="mat-elevation-z8" flex="80">

    <p>Não encontrado.</p>

    <button mat-button color="warn" type="cancel" routerLink="/admin"><mat-icon>arrow_back</mat-icon>Voltar</button>
  </mat-card>
</div>
