<div fxLayout="column">
  <div fxLayoutAlign="center" fxLayout="row">
    <mat-toolbar>
      <button mat-icon-button class aria-label [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/empresa">
          Início
        </button>
        <button mat-menu-item routerLink="/login">Logout</button>
      </mat-menu>
      <span></span>
      <span></span>
    </mat-toolbar>
    <mat-card class="admin-card mat-elevation-z8" align="start">
      <mat-card-title>Controles de Risco - {{ evento.descricao }}</mat-card-title>
      <mat-card-content>
        <div fxLayout="row">
          Causa: {{ evento.causa }}
        </div>
        <div fxLayout="row">
          Efeito esperado: {{ evento.efeito }}
        </div>
        <div fxLayout="row">
          Impacto: {{ evento.impacto }} || Probabilidade: {{ evento.probabilidade }}
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title><h3>Controles de Risco</h3></mat-card-title>
        Descreva aqui o controle que tem sido implementado pela organização para o gerenciamento do evento de risco selecionado.
      <mat-card-content>
        <div fxLayout="row">
          <mat-form-field>
            <textarea matInput type="text" placeholder="Descrição do controle"
              [(ngModel)]="evento.controle_atual"
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="8"
            ></textarea>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field>
            <mat-select [(value)]="evento.aval_desenho_controle" placeholder="Avaliação do desenho do controle atual">
              <mat-option [value]=1>Não há sistema de controle.</mat-option>
              <mat-option [value]=2>Há procedimento informal de controle.</mat-option>
              <mat-option [value]=3>Controle não planejado, mas executado pela experiência.</mat-option>
              <mat-option [value]=4>Controle adequadamente planejado, mas não revisado.</mat-option>
              <mat-option [value]=5>Controle eficaz na gestão do risco e devidamente revisado.</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field>
            <mat-select [(value)]="evento.aval_operacao_controle" placeholder="Avaliação da operação do controle atual">
              <mat-option [value]=1>Controle não executado.</mat-option>
              <mat-option [value]=2>Controle parcialmente executado com deficiências.</mat-option>
              <mat-option [value]=3>Controle parcialmente executado.</mat-option>
              <mat-option [value]=4>Controle executado de maneira periódica.</mat-option>
              <mat-option [value]=5>Controle periódico, uniforme e periodicamente aperfeiçoado.</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <a mat-raised-button color="primary" (click)="salvar()">
            <mat-icon>done</mat-icon>
            Salvar
          </a>
          <a mat-button color="warn" (click)="backURL()">
            <mat-icon>keyboard_backspace</mat-icon>
            Voltar
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

