<div fxLayout="column">
  <div
      fxLayoutAlign="center"
      fxLayout="row"
  >
    <mat-toolbar>
      <button
        mat-icon-button
        class
        aria-label
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          routerLink="/empresa"
        >
          Início
        </button>
        <button mat-menu-item routerLink="/login">Logout</button>
      </mat-menu>
      <span></span>
      <span></span>
    </mat-toolbar>
    <mat-card
        class="admin-card mat-elevation-z8"
        align="start"
    >
      <ng-template [ngIf]="keyEvento != ' novo'" [ngIfElse]="NewEvento">
        <mat-card-title>Editar Evento - {{ evento.descricao }}</mat-card-title>
      </ng-template>
      <ng-template #NewEvento>
        <mat-card-title>Novo Evento</mat-card-title>
      </ng-template>
      <mat-card>
        <mat-form-field>
          <mat-label>Processo</mat-label>
          <mat-select matNativeControl [(ngModel)]="evento.key_processo" name="processoEvento">
            <mat-option *ngFor="let processo of selectProcessosList" [value]="processo.key">
              {{ processo.nome_processo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-card class="mat-elevation-z3">
          <mat-card-title>
            <h3>
              Descrição do evento
            </h3>
          </mat-card-title>
          <div fxLayout="row">
            <mat-form-field>
              <textarea matInput type="text"
                placeholder="Descrição do evento"
                [(ngModel)]="evento.descricao"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="8"
              >
              </textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <textarea matInput type="text"
                placeholder="Causa do evento"
                [(ngModel)]="evento.causa"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="8"
              >
              </textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <textarea matInput type="text"
                placeholder="Efeito esperado"
                [(ngModel)]="evento.efeito"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="8"
              >
              </textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <mat-select [(value)]="evento.categoria" placeholder="Categoria">
                <mat-option value="Operacional">Operacional</mat-option>
                <mat-option value="Estratégico">Estratégico</mat-option>
                <mat-option value="Orçamentário">Orçamentário</mat-option>
                <mat-option value="Reputação">Reputação</mat-option>
                <mat-option value="Integridade">Integridade</mat-option>
                <mat-option value="Fiscal">Fiscal</mat-option>
                <mat-option value="Conformidade">Conformidade</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row"> <!-- probabilidade -->
            <mat-form-field>
              <mat-select [(value)]="evento.probabilidade" placeholder="Probabilidade">
                <mat-option [value]=1>1: Muito baixa ( <= 10%)</mat-option>
                <mat-option [value]=2>2: Baixa (10 <= 30%)</mat-option>
                <mat-option [value]=3>3: Média (30 <= 50%)</mat-option>
                <mat-option [value]=4>4: Alta (50 <= 90%)</mat-option>
                <mat-option [value]=5>5: Muito alta ( > 90%)</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <div fxLayout="row">
            <mat-form-field>
              <mat-select [(value)]="evento.impacto" placeholder="Impacto">
                <mat-option value="1">1: Insignificante ( <= 10%)</mat-option>
                <mat-option value="2">2: Pequeno (10 <= 30%)</mat-option>
                <mat-option value="3">3: Moderado (30 <= 50%)</mat-option>
                <mat-option value="4">4: Alto (50 <= 90%)</mat-option>
                <mat-option value="5">5: Crítico ( > 90%)</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
          <div fxLayout="row">
            <h3>
              Aspectos avaliativos do estudo de impacto
            </h3>
            <!-- Colocar um mat-button pra chamar um swal de explicação sobre os aspectos avaliativos -->
            <!-- <a mat-button color="primary" (click)="ajudaAspectosAvaliativos()"> -->
            <!-- <a mat-button color="primary" (click)="ajudaAspectosAvaliativos()">
              <mat-icon>help_outline</mat-icon>
              Ajuda
            </a> -->
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <mat-select [(value)]="evento.esforco_gestao" placeholder="Esforço da Gestão" matTooltip="Impacto do evento na gestão da organização.">
                <mat-option [value]=1>1: Insignificante</mat-option>
                <mat-option [value]=2>2: Pequeno</mat-option>
                <mat-option [value]=3>3: Moderado</mat-option>
                <mat-option [value]=4>4: Grande</mat-option>
                <mat-option [value]=5>5: Catastrófico</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <mat-select [(value)]="evento.regulacao" placeholder="Regulação"
                matTooltip="Determina o impacto no caráter das ações estratégicas de mitigação.">
                <mat-option [value]=1>1: Insignificante</mat-option>
                <mat-option [value]=2>2: Pequeno</mat-option>
                <mat-option [value]=3>3: Moderado</mat-option>
                <mat-option [value]=4>4: Grande</mat-option>
                <mat-option [value]=5>5: Catastrófico</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <mat-select [(value)]="evento.reputacao" placeholder="Reputação"
                matTooltip="Impacto do evento na reputação da organização.">
                <mat-option [value]=1>1: Insignificante</mat-option>
                <mat-option [value]=2>2: Pequeno</mat-option>
                <mat-option [value]=3>3: Moderado</mat-option>
                <mat-option [value]=4>4: Grande</mat-option>
                <mat-option [value]=5>5: Catastrófico</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <mat-select [(value)]="evento.negocios" placeholder="Negócios/Serviços"
                matTooltip="Determina o impacto do evento nos negócios da organização ou nos serviços prestados.">
                <mat-option [value]=1>1: Insignificante</mat-option>
                <mat-option [value]=2>2: Pequeno</mat-option>
                <mat-option [value]=3>3: Moderado</mat-option>
                <mat-option [value]=4>4: Grande</mat-option>
                <mat-option [value]=5>5: Catastrófico</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <mat-select [(value)]="evento.intervencao" placeholder="Intervenção Hierárquica"
                matTooltip="Determina o nível hierárquico envolvido na resposta ao risco.">
                <mat-option [value]=1>1: Insignificante</mat-option>
                <mat-option [value]=2>2: Pequeno</mat-option>
                <mat-option [value]=3>3: Moderado</mat-option>
                <mat-option [value]=4>4: Grande</mat-option>
                <mat-option [value]=5>5: Catastrófico</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <mat-select [(value)]="evento.valor_orcamentario" placeholder="Valor Orçamentário"
                matTooltip="Determina a porcentagem do orçamento da organização envolvido na mitigação ou resposta ao risco.">
                <mat-option [value]=1>1: Insignificante ( < 1%)</mat-option>
                <mat-option [value]=2>2: Pequeno (1 < 3%)</mat-option>
                <mat-option [value]=3>3: Moderado (3 < 10%)</mat-option>
                <mat-option [value]=4>4: Grande (10 < 25%)</mat-option>
                <mat-option [value]=5>5: Catastrófico ( >= 25%)</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <!-- <a mat-raised-button color="accent" (click)="formControles()">
              <mat-icon>build</mat-icon>
              Variáveis do Controle de Risco
            </a> -->
          </div>
          <div fxLayout="row">
            <a mat-raised-button color="primary" (click)="salvar()">
              <mat-icon>done</mat-icon>
              Salvar
            </a>
            <a mat-button color="basic" (click)="backURL()">
              <mat-icon>keyboard_backspace</mat-icon>
              Voltar
            </a>
            <div fxLayoutAlign="space-between right">
              <a mat-raised-button color="warn" (click)="deleteEvento()">
                <mat-icon>delete_outline</mat-icon>
                Excluir
              </a>
            </div>
          </div>
        </mat-card>
      </mat-card>
    </mat-card>
  </div>
</div>
