<div fxLayout="column">
    <div
        fxLayoutAlign="center"
        fxLayout="row"
    >
        <!-- <form  [formGroup]="loginForm" (ngSubmit)="authenticate(loginForm.value)" > -->
        <mat-toolbar>
            <button
                mat-icon-button
                class
                aria-label
                [matMenuTriggerFor]="menu"
            >
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button
                    mat-menu-item
                    routerLink="/empresa"
                >
                    Início
                </button>
                <button mat-menu-item routerLink="/login">Logout</button>
            </mat-menu>
            <span></span>
            <span></span>
        </mat-toolbar>
        <mat-card
            class="admin-card mat-elevation-z8"
            align="start"
        >
            <mat-card-title>Empresas</mat-card-title>

            <table mat-table [dataSource]="empresas" class="mat-elevation-z5">
              <ng-container matColumnDef="razao_social">
                <th mat-header-cell *matHeaderCellDef>Razão Social</th>
                <td mat-cell *matCellDef="let empresa">{{ empresa.razao_social }}</td>
              </ng-container>
              <ng-container matColumnDef="nome_fantasia">
                <th mat-header-cell *matHeaderCellDef>Nome Fantasia</th>
                <td mat-cell *matCellDef="let empresa">{{ empresa.nome_fantasia }}</td>
              </ng-container>
              <ng-container matColumnDef="natureza_juridica">
                <th mat-header-cell *matHeaderCellDef>Natureza Jurídica</th>
                <td mat-cell *matCellDef="let empresa">{{ empresa.natureza_juridica }}</td>
              </ng-container>
              <ng-container matColumnDef="atividade">
                <th mat-header-cell *matHeaderCellDef>Atividade</th>
                <td mat-cell *matCellDef="let empresa">{{ empresa.atividade }}</td>
              </ng-container>
              <ng-container matColumnDef="avaliacao">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let empresa">
                  <a mat-raised-button color="accent" routerLink="/empresa/detalhe/{{empresa.key}}">
                    Abrir Empresa
                  </a>
                </td>
              </ng-container>
              <tbody>
              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
            </tbody>
            </table>


            <div layout="row">
              <button mat-raised-button color="primary" routerLink="/empresa/edit/novo">Nova empresa</button>
              <span flex></span>
              <!-- <br><br> -->
              <!-- <button mat-raised-button color="secondary">Voltar</button> -->
            </div>

        </mat-card>
    </div>
</div>
