<div fxLayout="column">
  <div fxLayoutAlign="center" fxLayout="row">
    <mat-toolbar>
      <button mat-icon-button class aria-label [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/empresa">
          Início
        </button>
        <button mat-menu-item routerLink="/login">Logout</button>
      </mat-menu>
      <span></span>
      <span></span>
    </mat-toolbar>
    <mat-card class="admin-card mat-elevation-z8" align="start">
      <mat-card-title>Relatório de Avaliação de Risco e Risco Residual</mat-card-title>
      <mat-card-content>
        <h3>{{ evento.descricao }}</h3>
        <mat-divider></mat-divider>
        <h4>Aspectos avaliativos do estudo de impacto:</h4>
        <ul>
          <li>Esforço da Gestão: <b>{{ evento.esforco_gestao }}</b>: {{ textos.def_esforco_gestao }}</li>
          <li>Regulação: <b>{{ evento.regulacao }}</b>: {{ textos.def_regulacao }}</li>
          <li>Reputação: <b>{{ evento.reputacao }}</b>: {{ textos.def_reputacao }}</li>
          <li>Negócios e Serviços Prestados: <b>{{ evento.negocios }}</b>: {{ textos.def_negocios }}</li>
          <li>Intervenção Hierárquica: <b>{{ evento.intervencao }}</b>: {{ textos.def_intervencao }}</li>
          <li>Valor Orçamentário: <b>{{ evento.valor_orcamentario }}</b>: {{ textos.def_valor_orcamentario }}</li>
        </ul>
        Índice de Impacto: <b>{{ evento.impacto }}</b>. <br>{{ textos.def_impacto }}<br>
        <br>
        Probabilidade: <b>{{ evento.probabilidade }}</b>. <br>{{ textos.def_probabilidade }}<br>
        <br>
        Índice de Risco Inerente: <b>{{ evento.risco_inerente }}</b>. <br>{{ textos.def_risco_inerente }}<br>
        <mat-divider></mat-divider>
        <br>
        <h4>Avaliação do controle adotado para a gestão do evento de risco</h4>
        <ul>
          <li>Controle: {{ evento.controle_atual }}</li>
          <li>Avaliação do Desenho do Controle: {{ textos.def_desenho_controle }}</li>
          <li>Avaliação da Operação do Controle: {{ textos.def_operacao_controle }}</li>
        </ul>
        Índice de Risco Residual: <b>{{ evento.risco_residual }}</b>. <br>{{ textos.def_risco_residual }}<br>
        <mat-divider></mat-divider>
        <br>
        <h4>Resposta ao evento de risco</h4>
        Recomendação: {{ textos.def_recomendacao_resposta }}
        <br>
        <ul>
          <li>Ação Definida: {{ textos.def_tipo_resposta }}</li>
          <li>Descrição da Ação de Resposta: {{ evento.acao_controle }}</li>
          <li>Status: {{ textos.def_status_resposta }}</li>
          <li>Data de Início: {{ startDateString }}</li>
          <li>Data de Conclusão: {{ endDateString }}</li>
        </ul>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div fxLayout="row">
          <a mat-button color="warn" (click)="backURL()">
            <mat-icon>keyboard_backspace</mat-icon>
            Voltar
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
