<div fxLayout="column">
  <div
      fxLayoutAlign="center"
      fxLayout="row"
  >
      <!-- <form  [formGroup]="loginForm" (ngSubmit)="authenticate(loginForm.value)" > -->
      <mat-toolbar>
          <button
              mat-icon-button
              class
              aria-label
              [matMenuTriggerFor]="menu"
          >
              <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
              <button
                  mat-menu-item
                  routerLink="/empresa"
              >
                  Início
              </button>
              <button mat-menu-item routerLink="/login">Logout</button>
          </mat-menu>
          <span></span>
          <span></span>
      </mat-toolbar>
      <mat-card
          class="admin-card mat-elevation-z8"
          align="start"
      >
          <mat-card-title>{{ empresa.razao_social }}</mat-card-title>
          <mat-card>
            <p>
              Nome fantasia: {{ empresa.nome_fantasia }}<br>
              CNPJ: {{ empresa.cnpj | mask: 'CPF_CNPJ' }}<br>
              Atividade: {{ empresa.atividade }}
            </p>
            <a mat-raised-button color="secondary" routerLink="/empresa/edit/{{empresa.key}}">Editar</a>
            <span></span>
            <a mat-raised-button color="primary" routerLink="/empresa/{{empresa.key}}/analise">
              <mat-icon>fact_check</mat-icon>
              Análise
            </a>
        </mat-card>
        <br>
        <mat-card>
          <mat-card-title><h3>Processos</h3></mat-card-title>
          <table mat-table [dataSource]="empresa.processos" class="mat-elevation-z3">
            <ng-container matColumnDef="nome_processo" class="mat-column-nome-processo">
              <th mat-header-cell *matHeaderCellDef>Nome do Processo</th>
              <td mat-cell *matCellDef="let processo">{{ processo.nome_processo }}</td>
            </ng-container>
            <ng-container matColumnDef="descricao_processo" class="mat-column-descricao-processo">
              <th mat-header-cell *matHeaderCellDef>Descrição do Processo</th>
              <td mat-cell *matCellDef="let processo">{{ processo.descricao_processo }}</td>
            </ng-container>
            <ng-container matColumnDef="editar" class="mat-column-editar">
              <th mat-header-cell *matHeaderCellDef>Editar</th>
              <td mat-cell *matCellDef="let processo">
                <a mat-raised-button color="accent" routerLink="/empresa/{{ empresa.key }}/processos/{{ processo.key }}">
                  <mat-icon>edit</mat-icon>
                </a>
              </td>
            </ng-container>
            <tbody>
              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
            </tbody>
          </table>
          <div fxLayout="row">
            <br>
            <a mat-raised-button color="primary" routerLink="/empresa/{{ empresa.key }}/processos/novo">Novo processo</a>
            <button mat-raised-button color="secondary" (click)="backURL()">Voltar</button>
          </div>
        </mat-card>
    </mat-card>
  </div>
</div>

