<mat-toolbar
    color="primary"
    class="mat-elevation-z2"
>
<mat-toolbar-row style="font-size: 14">SCAR</mat-toolbar-row>
<mat-toolbar-row style="font-size: 8">Sistema Cabuloso de Análise de Risco</mat-toolbar-row>
</mat-toolbar>
<!-- Material toolbar: preciso provisionar no app.module todas as ferramentas que for utilizar na UI. Mesmo as do Angular Material. -->

<!-- router-outlet: componente de saída do Router. Define onde começa o conteúdo que o Router tá cuspindo. -->
<mat-card-content class="large mat-card-content">
  <div fxLayout="row" align="center">
    <div fxFlex="20" ></div>
    <div fxFlex="60" >
      <router-outlet></router-outlet>
    </div>
    <div fxFlex ></div>
  </div>
</mat-card-content>
