<div fxLayout="column">
  <div fxLayoutAlign="center" fxLayout="row">
    <mat-toolbar>
      <button mat-icon-button class aria-label [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/empresa">
          Início
        </button>
        <button mat-menu-item routerLink="/login">Logout</button>
      </mat-menu>
      <span></span>
      <span></span>
    </mat-toolbar>
    <mat-card class="admin-card mat-elevation-z8" align="start">
      <mat-card-title>Resposta ao Risco - {{ evento.descricao }}</mat-card-title>
      <mat-card-content>
        <div fxLayout="row">
          Causa: {{ evento.causa }}
        </div>
        <div fxLayout="row">
          Efeito esperado: {{ evento.efeito }}
        </div>
        <div fxLayout="row">
          Impacto: {{ evento.impacto }} || Probabilidade: {{ evento.probabilidade }}
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title><h3>Resposta ao Risco</h3></mat-card-title>
        Defina aqui a resposta a ser tomada em relação ao risco apresentado pelo evento.
        Esta resposta deve levar em consideração os aspectos avaliativos do estudo de impacto e a probabilidade.
      <mat-card-content>
        <div fxLayout="row">
          <!-- <mat-form-field>
            REVISAR A DESCRIÇÃO DO NÍVEL DE RISCO. PQ SE REFERE AO NÍVEL DE RISCO
            <textarea matInput type="text"
              placeholder="Descrição de "
              [(ngModel)]="evento.descricao_nr"
            ></textarea>
          </mat-form-field> -->
        </div>
        <div fxLayout="row">
          <!-- acao_controle - descrição da ação de resposta -->
          <mat-form-field>
            <textarea matInput type="text"
              placeholder="Descrição da ação de resposta"
              [(ngModel)]="evento.acao_controle"
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="8"
            ></textarea>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field>
            <mat-select [(value)]="evento.tipo" placeholder="Tipo de Resposta">
              <mat-option [value]=1>Evitar</mat-option>
              <mat-option [value]=2>Reduzir</mat-option>
              <mat-option [value]=3>Compartilhar ou Transferir</mat-option>
              <mat-option [value]=4>Aceitar</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field>
            <mat-label>Data de Início</mat-label>
            <input matInput [matDatepicker]="pickerInicio" [(ngModel)]="evento.data_inicio">
            <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
            <mat-datepicker #pickerInicio></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field>
            <mat-label>Data de Conclusão</mat-label>
            <input matInput [matDatepicker]="pickerConclusao" [(ngModel)]="evento.data_conclusao">
            <mat-datepicker-toggle matSuffix [for]="pickerConclusao"></mat-datepicker-toggle>
            <mat-datepicker #pickerConclusao [startAt]="evento.data_conclusao"></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field>
            <mat-select [(value)]="evento.status" placeholder="Status do Controle">
              <mat-option [value]=1>Não Iniciado</mat-option>
              <mat-option [value]=2>Em Andamento</mat-option>
              <mat-option [value]=3>Concluído</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <a mat-raised-button color="primary" (click)="salvar()">
            <mat-icon>done</mat-icon>
            Salvar
          </a>
          <a mat-button color="warn" (click)="backURL()">
            <mat-icon>keyboard_backspace</mat-icon>
            Voltar
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
