<div fxLayout="column">
  <div fxLayoutAlign="center" fxLayout="row">
    <!-- <form  [formGroup]="loginForm" (ngSubmit)="authenticate(loginForm.value)" > -->
    <mat-toolbar>
      <button mat-icon-button class aria-label [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/empresa">
          Início
        </button>
        <button mat-menu-item routerLink="/login">Logout</button>
      </mat-menu>
      <span></span>
      <span></span>
    </mat-toolbar>
    <mat-card class="admin-card mat-elevation-z8" align="start">
      <mat-card-title>Relatório de Análise - {{ empresa.razao_social }}</mat-card-title>
      <a mat-button color="basic" (click)="backURL()">Voltar</a>
      <mat-card>
        <!-- <mat-card-title><h2>Matriz de Risco</h2></mat-card-title> -->
          <!-- <img mat-card-image src="../../../assets/matrizDeRisco.png" class="matrizRiscoImagem" > -->
        <!-- <mat-card-content> -->
          <ng-container *ngIf="source?.length > 0">
            <div id="chart1">
              <google-chart #chart
                [title]="chartTitle"
                [type]="chartType"
                [data]="chartData"
                [columns]="columnNames"
                [options]="chartOptions"
                [width]="chartWidth"
                [height]="chartHeight"
              ></google-chart>
            </div>
          </ng-container>
        <!-- </mat-card-content> -->
      </mat-card>
      <mat-card>
        <mat-card-title>
          <h3>EVENTOS DE RISCO</h3>
        </mat-card-title>

        <div fxLayout="row">
          <a mat-raised-button color="primary" routerLink="/empresa/{{empresa.key}}/analise/null/novoEvento/edit">Novo Evento</a>
        </div>
        <div fxLayout="row">
          <mat-table [dataSource]="source" class="mat-elevation-z5">
            <ng-container matColumnDef="nome_processo">
              <mat-header-cell *matHeaderCellDef>Processo</mat-header-cell>
              <mat-cell *matCellDef="let objeto">{{ objeto.nome_processo }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="descricao_evento">
              <mat-header-cell *matHeaderCellDef>Evento</mat-header-cell>
              <mat-cell *matCellDef="let objeto">{{ objeto.descricao_evento }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="categoria">
              <mat-header-cell *matHeaderCellDef>Categoria</mat-header-cell>
              <mat-cell *matCellDef="let objeto">{{ objeto.categoria }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="impacto">
              <mat-header-cell *matHeaderCellDef>Impacto</mat-header-cell>
              <mat-cell *matCellDef="let objeto">{{ objeto.impacto }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="probabilidade">
              <mat-header-cell *matHeaderCellDef>Probabilidade</mat-header-cell>
              <mat-cell *matCellDef="let objeto">{{ objeto.probabilidade }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="risco_inerente">
              <mat-header-cell *matHeaderCellDef>Risco Inerente</mat-header-cell>
              <mat-cell *matCellDef="let objeto"
                [ngClass]="{'redCell' : objeto.risco_inerente > 20,
                            'orangeCell' : objeto.risco_inerente <= 20 && objeto.risco_inerente > 14 ,
                            'yellowCell' : objeto.risco_inerente <= 14 && objeto.risco_inerente > 6,
                            'greenCell' : objeto.risco_inerente <= 6 && objeto.risco_inerente > 3}"
              >{{ objeto.risco_inerente }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="avaliacao_risco">
              <mat-header-cell *matHeaderCellDef>Avaliação de Risco</mat-header-cell>
              <mat-cell *matCellDef="let objeto">
                <a mat-button color="primary" routerLink="/empresa/{{ objeto.key_empresa }}/analise/{{ objeto.key_processo }}/{{ objeto.key_evento }}/avaliacao-risco">
                  <mat-icon>search</mat-icon>
                </a>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="controles">
              <mat-header-cell *matHeaderCellDef>Controles</mat-header-cell>
              <mat-cell *matCellDef="let objeto">
                <a mat-button color="primary" routerLink="/empresa/{{ objeto.key_empresa }}/analise/{{ objeto.key_processo }}/{{ objeto.key_evento }}/controles">
                  <mat-icon>build</mat-icon>
                </a>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="resposta_nr">
              <mat-header-cell *matHeaderCellDef>Resposta ao Risco</mat-header-cell>
              <mat-cell *matCellDef="let objeto">
                <a mat-button color="primary" routerLink="/empresa/{{ objeto.key_empresa }}/analise/{{ objeto.key_processo }}/{{ objeto.key_evento }}/resposta-risco">
                  <mat-icon>quickreply</mat-icon>
                </a>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
              <mat-cell *matCellDef="let objeto">
                <a mat-button color="accent" routerLink="/empresa/{{ objeto.key_empresa }}/analise/{{ objeto.key_processo }}/{{ objeto.key_evento }}/edit">
                  <mat-icon>edit</mat-icon>
                </a>
              </mat-cell>
            </ng-container>
            <tbody>
              <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
              <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
            </tbody>
          </mat-table>
        </div>
      </mat-card>
    </mat-card>
  </div>
</div>
