table {
  width: 100%;
}
.mat-column-nome_processo {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-descricao-evento {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// .mat-column-categoria{
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 30% !important;
//   width: 30% !important;
//   overflow-wrap: break-word;
//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }

// .mat-column-impacto{
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 20% !important;
//   width: 20% !important;
//   overflow-wrap: break-word;
//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }

// .mat-column-probabilidade{
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 10% !important;
//   width: 10% !important;
//   overflow-wrap: break-word;
//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }

// .mat-column-risco-inerente{
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 10% !important;
//   width: 10% !important;
//   overflow-wrap: break-word;
//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }

// .mat-column-avaliacao-risco{
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 5% !important;
//   width: 5% !important;
//   overflow-wrap: break-word;
//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }

// .mat-column-controles{
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 5% !important;
//   width: 5% !important;
//   overflow-wrap: break-word;
//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }

// .mat-column-resposta-nr{
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 5% !important;
//   width: 5% !important;
//   overflow-wrap: break-word;
//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }

// .mat-column-edit{
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 5% !important;
//   width: 5% !important;
//   overflow-wrap: break-word;
//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }

.redCell {
  background-color: lightcoral;
}

.orangeCell {
  background-color: burlywood;
}

.yellowCell {
  background-color: khaki;
}

.greenCell {
  background-color: lightgreen;
}

.matrizRiscoImagem{
  width: 500px;
  height: 334px;
}

