<div fxLayout="column">
    <div
        fxLayoutAlign="center"
        fxLayout="row"
    >
        <!-- <form  [formGroup]="loginForm" (ngSubmit)="authenticate(loginForm.value)" > -->
        <mat-toolbar>
            <button
                mat-icon-button
                class
                aria-label
                [matMenuTriggerFor]="menu"
            >
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button
                    mat-menu-item
                    routerLink="/empresa"

                >
                    Empresas
                </button>
                <button mat-menu-item>Relatórios</button>
                <button mat-menu-item>Configurações</button>
                <button mat-menu-item>Logout</button>
            </mat-menu>
            <span>Painel administrativo</span>
            <span></span>
        </mat-toolbar>
        <mat-card
            class="admin-card mat-elevation-z8"
            align="start"
        >
            <mat-card-title>Início</mat-card-title>



        </mat-card>
    </div>
</div>
