<div align="center" fxLayout="row" fxLayoutAlign="center center" class="register-form">
  <form role="form" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
    <mat-card class="mat-elevation-z8" flex="80">
      <mat-card-title>Cadastrar Usuário</mat-card-title>
      <mat-card-content>
        <div fxLayout="row" >
          <mat-form-field fxFlex="45">
            <input matInput formControlName="email" type="email"
                placeholder="E-mail" autocomplete="email" readonly="false">
          </mat-form-field>
          <br>
          <mat-form-field  fxFlex="45">
            <input matInput type="password" formControlName="password"
              type="password" autocomplete="off">
            <mat-placeholder>
              <mat-icon>lock</mat-icon> Nova senha
            </mat-placeholder>
          </mat-form-field>
          <br>
          <mat-form-field  fxFlex="45">
            <input matInput type="password" formControlName="passwordRepeat"
              type="password" autocomplete="off">
            <mat-placeholder>
              <mat-icon>lock_outline</mat-icon> Confirmação de senha
            </mat-placeholder>
          </mat-form-field>
          <br>

          <!-- TESTE COM VALIDADOR DO BOTÃO -->
          <!-- <button mat-raised-button color="primary" type="submit" [disabled]="!formRegister.valid"><mat-icon>done</mat-icon>Cadastrar</button> -->

          <!-- TESTE SEM VALIDADOR DO BOTÃO -->
          <button mat-raised-button color="primary" type="submit" > <mat-icon>done</mat-icon>Cadastrar</button>
          <button mat-button color="warn" type="cancel" routerLink="/login"><mat-icon>close</mat-icon>Cancelar</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
