<div fxLayout="column">
  <div
    fxLayoutAlign="center"
    fxLayout="row"
  >
    <mat-toolbar>
      <button
        mat-icon-button
        class
        aria-label
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          routerLink="/empresa"
        >
          Início
        </button>
        <button mat-menu-item routerLink="/login">Logout</button>
      </mat-menu>
      <span></span>
      <span></span>
    </mat-toolbar>
    <mat-card
      class="admin-card mat-elevation-z8"
      align="start"
    >
    <ng-template [ngIf]="empresa.key" [ngIfElse]="NewEmpresa">
      <mat-card-title>Editar - {{ empresa.razao_social }}</mat-card-title>
    </ng-template>
    <ng-template #NewEmpresa>
      <mat-card-title>Nova Empresa</mat-card-title>
    </ng-template>
      <div fxLayoutAlign="center center">
        <div fxLayout="row">
          <mat-form-field fxFlex="45">
            <input matInput type="text" placeholder="Razão Social" [(ngModel)]="empresa.razao_social" />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <span flex>  </span>
          <mat-form-field fxFlex="45">
            <input matInput type="text" placeholder="CNPJ" [(ngModel)]="empresa.cnpj" mask="CPF_CNPJ" />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <span flex>  </span>
          <mat-form-field fxFlex="45">
            <input matInput type="text" placeholder="Nome Fantasia" [(ngModel)]="empresa.nome_fantasia">
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <span flex>  </span>
          <mat-form-field fxFlex="45">
            <input matInput type="text" placeholder="Atividade" [(ngModel)]="empresa.atividade" />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <span flex>  </span>
          <mat-form-field fxFlex="45">
            <input matInput type="text" placeholder="Natureza Jurídica" [(ngModel)]="empresa.natureza_juridica" />
          </mat-form-field>
        </div>
      </div>
      <br/>
      <div class="row">
        <button mat-raised-button color="primary" (click)="salvar()"><mat-icon>done</mat-icon> Salvar</button>
        <span flex></span>
        <button mat-button (click)="backURL()" color="warn"><mat-icon>close</mat-icon>Voltar</button>
      </div>
      <div fxLayoutAlign="space-between right">
        <a mat-raised-button color="warn" (click)="deleteEmpresa()">
          <mat-icon>delete_outline</mat-icon>
          Excluir
        </a>
      </div>
    </mat-card>
  </div>
</div>
