
<div fxLayout="column" >
  <div fxLayoutAlign="center" fxLayout="row">
    <form  [formGroup]="loginForm" (ngSubmit)="authenticate(loginForm.value)" >

      <mat-card class="login-card mat-elevation-z8" >
          <mat-card-title>Login</mat-card-title>
          <mat-card-content fxLayout="column" *ngIf="!loading">
            <mat-form-field >
              <input matInput formControlName="email" type="email"
                  placeholder="E-mail" autocomplete="email" readonly="false">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput formControlName="password" type="password"
                placeholder="Password" autocomplete="password">
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions >
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <button mat-raised-button color="primary" type="submit" (click)="authenticate(loginForm.value)" [disabled]="!loginForm.valid || loading"><mat-icon>done</mat-icon>Login</button>
              <button mat-raised-button color="accent" type="submit" routerLink="/admin/register"><mat-icon>playlist_add</mat-icon>Cadastrar</button>
            </div>
          </mat-card-actions>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

      </mat-card>
    </form>

  </div>
</div>

